
<div class="wrap">
	<div class="right-menu">
		<a  class="active" href="#profile"><i class="fa fa-user"></i><span>Profile</span></a>
		<a href="#project"><i class="fa fa-photo"></i><span>Posts</span></a>
		<a  href="#skills"><i class="fa fa-folder"></i><span>favorite</span></a>
	</div>
<div class="content">
<div class="profile open animated zoomIn">
	<div class="avatar">
		<%= image_tag("yoichiro.png") %>
		<div class="bubble">
		<h3>Yoichiro Deguchi</h3>
		<a href="#">yoichiro.deguchi03@gmail.com</a>
		<h2>Let's play Pokemon GO :)</h2>
		</div>
	
	</div>
</div>	
<div class="project animated zoomIn">
	 	<div class="avatar">
		 
		<div class="bubble">
		<h3>Coming Soon</h3>
		<a href="#">View Details </a>
		
		</div>
	
	</div>
</div>

<div class="skills animated zoomIn">
	<div class="avatar">
		 
		<div class="bubble">
		<h3>Coming Soon</h3>
		<a href="#">View Details </a>
		
		</div>
	
	</div>
</div>
</div><!--End Content-->
 <div class="footer">
 <a href="#" target="_blank"><i class="fa fa-link"></i><span>Website</span></a>
		<a href="#"  target="_blank"><i class="fa fa-facebook fa-facebook-color"></i><span>facebook</span></a>
		<a href="#"  target="_blank"><i class="fa fa-twitter fa-twitter-color"></i><span>Follow</span></a>
		<a href="#"  target="_blank"><i class="fa fa-briefcase"></i><span>Hire me</span></a>
 </div>
 </div>