<h1>新規投稿画面</h1>
<p>#主にUserが新たな"ライフスタイル"投稿をしたい時</p>
<%= render 'form' %>


		
<!-- 
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Melo<span>dic</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
		</div> -->