/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

*{
	margin:0;
	padding:0;
}


body{
	background-color:whitesmoke;
	padding-right:25px;
	padding-left:25px;
	color:black;
}

header{
	background-color: rgba(34,49,52,0.9);
}
.menu{
	display:block;
	width:100%;
	height:63px;
	
	/*background-color:SteelBlue;*/
	color:white;
	line-height: 64px;
	list-style:none;
	text-align:center;

	}

.menu ul {
	list-style:none;
	font-size:19px;
	width:16.65%;
	float:left;
	
	text-align:center;
	color:white;
	background-color: rgba(255,255,255,0.1);
	}

.menu ul a{
	display:block;
	transition: all 0.7s;
}

.menu ul li{
	transition: all 0.7s;
	border-right:1px solid white;
}
.menu ul p{
	transition: all 0.7s;
	font-size:15px;
}
.menu ul :visited{
	color:white;
}
.menu ul :hover{
  	background-color: rgba(255,255,255,0.4);
}

footer{
	background-color: rgba(34,49,52,0.9);
	width:100%;
	height:100px;
	line-height: 65px;
	text-align:center;
	font-size:18px;
	color:white;
	float:left;

}

.yield{
	width:80%;
	float:left;
	display:block;
}
.sub-menu{
	width:20%;
	float:left;
	
}
.search{
     border:solid 7px gray;
	padding-top:5px;
	padding-bottom:40px;
  margin-bottom:10px;
 
}
.search h2{
	color:black;
	font-size:18px;
	border-bottom:solid 3px gray;
	width:95%;



}
.user-rankings{
	border:solid 7px gray;
	padding-top:5px;
	padding-bottom:200px;
	margin-bottom:10px;
}
.user-rankings h2{
	color:black;
	font-size:18px;
	border-bottom:solid 3px gray;
	width:95%;
}
.tag-lists{
	border:solid 7px gray;
	padding-top:5px;
	padding-bottom:200px;
	margin-bottom:10px;
}
.tag-lists h2{
	color:black;
	font-size:18px;
	border-bottom:solid 3px gray;
	width:95%;
}
#yield-and-sub{
	width:100%;
}

/*#################以下スライド*/

/*.slide{
	position:relative;
	margin: 0 auto;
	max-width:960px;
	font-size: 0;
}

.slide img{
	max-width:100%;
}

.slide > .container{
	position: relative;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}

.slide > .container > li{
	position: absolute;
	z-index: 0;
	top:0;
	left:0;
	opacity:0;
	transition: opacity ls linear;
}
.slide > .container > li.current{
	position: relative;
	z-index:1;
	opacity: 1;
}*/
/*これをすることで1枚目が上になる*/

/*
.slide a.prev,
.slide a.next{
	position: absolute;
	display:block;
	top:45%;
	width:40px;
	height:40px;
	text-indent: -5000px;
	z-index: 10;
}
.slide a.prev{
	background:url("arrow-left.png") 50%  50% no-repeat;
	left:0;
}

.slide a.prev:hover{
	background:url("arrow-left.png")50%  50% no-repeat;
}

.slide a.prev:active{
	background:url("arrow-left.png")50%  50% no-repeat;
}

.slide a.next{
	background:url("arrow-right.png") 50%  50% no-repeat;
	right:0;
}

.slide a.next:hover{
	background:url("arrow-right.png")50%  50% no-repeat;
}

.slide a.next:active{
	background:url("arrow-right.png")50%  50% no-repeat;
}
*/
/*SEARCHボタン*/
.search_field{
	border-radius:5px;
	height:10%;
}

.btn{
	text-align: right;
	padding:5px 30px 5px 45px;
	border-radius:5px;
	background-color:#8ac2d0;
	background-position: 30px 50%;
	 background-color: #1CB94E;
}
.btn:hover{
	background-color:#b9d5dc;
}


@media screen and (max-width:600px){
	.slide a.prev,
	.slide a.next{
		top:40%;
	}

}




/*footer のボタンたち facebook twitter ログイン...etc...*/
/*.demopadding {
  margin:50px auto;
  width:140px;
  text-align:center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#6d6e71 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}
*/


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
/***End REset CSS*/

/*body {
  font: normal 14px/20px 'Open Sans', sans-serif;
  background: url('https://2.bp.blogspot.com/-QCNLvg32ulU/VaOWslE-aXI/AAAAAAAAGAc/KYWYae8-hFA/s1600/background.jpg') top/cover no-repeat;
  color: #333;
}*/

.wrap {
  width: auto;
  height:700px;
  margin: 100px auto;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background: url('https://2.bp.blogspot.com/-QmmNQfxkJuY/VaOWtdGCmKI/AAAAAAAAGAo/NM6IBuYRTHM/s1600/background2.jpg') top/cover no-repeat;
margin:30px;
margin-top:-20px;
}
.right-menu {
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background: #fff;
  max-width: 120px;
  position: absolute;
  border-radius: 0px 3px 3px 0px;
}

.right-menu a,
.footer a {
  display: block;
  text-align: center;
  padding: 47px 28px;
  line-height: 30px;
  color: #B7B7B7;
}

.right-menu a span,
.footer a span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

a.active,
.right-menu a:hover {
  color: #222;
  position: relative;
}

a.active:after {
  content: '';
  height: 0;
  width: 0;
  border: 11px solid transparent;
  position: absolute;
  left: -21px;
  top: 50%;
  border-right: 11px solid #fff;
}

.right-menu a {
  border-bottom: 1px solid #B7B7B7;
}

.right-menu a i {
  font-size: 30px;
}

.avatar {
  margin-right: 100px;
  text-align: center;
  display: block;
  padding-top: 56px;
}

.avatar img {
  height: 150px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}

.bubble {
  background: #fff;
  display: block;
  width: 42%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  line-height: normal;
  margin-top: 25px;
  position: relative;
}

.bubble:after {
  content: '';
  top: -70px;
  left: 45%;
  right: 0;
  width: 0;
  height: 70px;
  position: absolute;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.bubble h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.bubble a {
  color: #888;
  font-size: 12px;
  font-style: italic;
}

.footer {
  bottom: 0;
  width: 100%;
  min-height: 100px;
  position: absolute;
  border-top: 1px solid #9E9AAB;
}

.footer a:hover {
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
}

.footer a {
  display: block;
  color: #fff;
  padding: 25px 35px;
  border-right: 1px solid #9E9AAB;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 0px;
  float: left;
}

.footer a:last-child {
  border-right: none;
}

.footer a i {
  font-size: 24px;
}

.profile,
.project,
.skills {
  display: none;
}

.profile.open,
.project.open,
.skills.open {
  display: block;
}
/*skill bar*/


.commentcss{
	background: #fff;
  max-width: 320px;
  margin:1%;
  padding: 10px;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
}



.fa-facebook-color{
	color:#3B5998;	
}
.fa-twitter-color{
	color:#55acee;
}