/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

*{
	margin:0;
	padding:0;
}


body{
	background-color:whitesmoke;
	padding-right:25px;
	padding-left:25px;
	color:black;
}

header{
	background-color: rgba(34,49,52,0.9);
}
.menu{
	display:block;
	width:100%;
	height:63px;
	
	/*background-color:SteelBlue;*/
	color:white;
	line-height: 64px;
	list-style:none;
	text-align:center;

	}

.menu ul {
	list-style:none;
	font-size:19px;
	width:16.65%;
	float:left;
	
	text-align:center;
	color:white;
	background-color: rgba(255,255,255,0.1);
	}

.menu ul a{
	display:block;
	transition: all 0.7s;
}

.menu ul li{
	transition: all 0.7s;
	border-right:1px solid white;
}
.menu ul p{
	transition: all 0.7s;
	font-size:15px;
}
.menu ul :visited{
	color:white;
}
.menu ul :hover{
  	background-color: rgba(255,255,255,0.4);
}

footer{
	background-color: rgba(34,49,52,0.9);
	width:100%;
	height:100px;
	line-height: 65px;
	text-align:center;
	font-size:18px;
	color:white;
	float:left;

}

.yield{
	width:80%;
	float:left;
	display:block;
}
.sub-menu{
	width:20%;
	float:left;
	
}
.search{
	border:solid 7px gray;
	padding-top:5px;
	padding-bottom:100px;
	margin-bottom:10px;
}
.search h2{
	color:black;
	font-size:18px;
	border-bottom:solid 3px gray;
	width:95%;

}
.user-rankings{
	border:solid 7px gray;
	padding-top:5px;
	padding-bottom:200px;
	margin-bottom:10px;
}
.user-rankings h2{
	color:black;
	font-size:18px;
	border-bottom:solid 3px gray;
	width:95%;
}
.tag-lists{
	border:solid 7px gray;
	padding-top:5px;
	padding-bottom:200px;
	margin-bottom:10px;
}
.tag-lists h2{
	color:black;
	font-size:18px;
	border-bottom:solid 3px gray;
	width:95%;
}
#yield-and-sub{
	width:100%;
}

/*#################以下スライド*/

/*.slide{
	position:relative;
	margin: 0 auto;
	max-width:960px;
	font-size: 0;
}

.slide img{
	max-width:100%;
}

.slide > .container{
	position: relative;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}

.slide > .container > li{
	position: absolute;
	z-index: 0;
	top:0;
	left:0;
	opacity:0;
	transition: opacity ls linear;
}
.slide > .container > li.current{
	position: relative;
	z-index:1;
	opacity: 1;
}*/
/*これをすることで1枚目が上になる*/

/*
.slide a.prev,
.slide a.next{
	position: absolute;
	display:block;
	top:45%;
	width:40px;
	height:40px;
	text-indent: -5000px;
	z-index: 10;
}
.slide a.prev{
	background:url("arrow-left.png") 50%  50% no-repeat;
	left:0;
}

.slide a.prev:hover{
	background:url("arrow-left.png")50%  50% no-repeat;
}

.slide a.prev:active{
	background:url("arrow-left.png")50%  50% no-repeat;
}

.slide a.next{
	background:url("arrow-right.png") 50%  50% no-repeat;
	right:0;
}

.slide a.next:hover{
	background:url("arrow-right.png")50%  50% no-repeat;
}

.slide a.next:active{
	background:url("arrow-right.png")50%  50% no-repeat;
}
*/
/*SEARCHボタン*/
.search_field{
	border-radius:5px;
	height:10%;
}

.btn{
	text-align: right;
	padding:5px 30px 5px 45px;
	border-radius:5px;
	background-color:#8ac2d0;
	background-position: 30px 50%;
	color:#fff;
}
.btn:hover{
	background-color:#b9d5dc;
}


@media screen and (max-width:600px){
	.slide a.prev,
	.slide a.next{
		top:40%;
	}

}




/*footer のボタンたち facebook twitter ログイン...etc...*/
/*.demopadding {
  margin:50px auto;
  width:140px;
  text-align:center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#6d6e71 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}
*/

